venv/
__pycache__/
*.pyc
.git/
.gitignore
data/
*.log
model_v2/artifacts/model_b_distilbert_final.pt
model_v2/artifacts/model_b_distilbert_checkpoint.pt
model_v2/figures/
frontend-app/node_modules/
frontend-app/dist/
tests/
docs/
presentation/
